{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO app</title>
    <link rel="stylesheet" href="{% static 'todo/main.css' %}">
</head>
<body>
    <h1>My TODO Web Application</h1>
    <div class="wrapper">
        <div class="input">
                <form method="post">
                    {% csrf_token %}
                    {{ form.title.label_tag }}<br>
                    {{ form.title }}<br>
                    {{ form.description.label_tag }}<br>
                    {{ form.description }}<br>
                    {{ form.bot_catcher }}
                    {{ form.bot_catcher.errors }}
                    <button type="submit">Submit</button>
                </form>
        </div>
    {% if todos %}
    {% for todo in todos %}
        <div class="todos">
            <h3>{{ todo }}</h3>
            <div class="description">
                <div>{{ todo.description }}</div>
                {% if todo.is_done %}
                <p id="first">DONE</p>
                {% else %}
                <p id="second">NOT DONE</p>
                {% endif %}
                <p><a href="{% url 'update_todo' todo.id %}">edit</a></p>
                <p><a href="{% url 'delete_todo' todo.id %}">delete</a></p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    </div>
</body>
</html>