h1 {
    text-align : center;
}

.todos,.input {
    display:inline-block;
}

.todos {
    text-align : center;
    border: solid 5px green;
    width: 62%;
    float: right;

}

.input {
    width: 30%;
    float:left;
    margin: 10px;
}

#first {
    color: green;
}

#second {
    color: red;
}

